#hero {
  background: rgb(240 250 255);
  height: 100%;
  width: 100%;
  font-family: "Signika Negative", sans-serif;
}
.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px 0px;
}
.heroLeft,
.heroRight {
  width: 50%;
}
.heroLeft h1 {
  font-size: 30px;
  text-align: start;
  padding-left: 20%;
}
.heroLeft p {
  font-size: 20px;
  text-align: start;
  padding-left: 20%;
}
.heroRight img {
  transform: translate(0%, 0%);
  animation: heroRight 3s infinite;
  width: 75%;
}
@keyframes heroRight {
  0% {
    transform: translate(0%, -2%);
  }
  50% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, -2%);
  }
}
/* tablet */
@media (min-width: 768px) and (max-width: 1023px) {
}
/* Mobile */
@media (max-width: 767px) {
  .hero {
    flex-direction: column;
  }
  .heroLeft,
  .heroRight {
    width: 100%;
  }
}
