#About {
  max-height: 40vw;
  padding-bottom: 20px;
}
.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 48vw;
  justify-content: center;
}
.aboutItem {
  display: flex;
  flex-direction: row;
}
.aboutLeft {
  width: 50%;
}
.aboutRight {
  width: 40%;
}
.aboutTitle h1 {
  font-size: 40px;
  color: rgb(58, 58, 58);
  font-weight: 700;
}
